<div class="row">
    <div class="col-lg-4">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    @ViewBag.v1
                </h2>
                <small></small>
            </div>
            <img src="@ViewBag.v2" class="rounded-circle circle-border m-b-md" alt="profile">
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">@ViewBag.v1</h4>
            <p>@ViewBag.v3</p>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-comment fa-4x"></i>      
                <br />
                <h3 class="font-bold m-xs">
                    Contact
                </h3>
                <small>Sayısı</small>
                <h1 class="m-xs">@ViewBag.ContactCount</h1>
            </div>
        </div>
        <div class="widget  p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-flash fa-4x"></i>
                <h1 class="m-xs">612</h1>
                <h3 class="font-bold no-margins">
                    Thunder
                </h3>
                <small>amount</small>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget lazur-bg p-xl">

            <h2>
                @ViewBag.v1
            </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>Email:</label>
                    @ViewBag.v4
                </li>
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label>Şehir:</label>
                    @ViewBag.v5
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>Kayıt Tarihi:</label>
                    @Convert.ToDateTime(ViewBag.v6)
                </li>
            </ul>

        </div>
        <div class="widget red-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-bell fa-4x"></i>                
                <h3 class="font-bold m-xs">
                    Bildirim Sayısı
                </h3>
                <h1 class="m-xs">@ViewBag.NotificationCount</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-warning fa-4x"></i>
                <h1 class="m-xs">@ViewBag.BlogCount</h1>
                <h3 class="font-bold no-margins">
                    Blog Sayınız
                </h3>
                <small>amount</small>
            </div>
        </div>
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-warning fa-4x"></i>
                <h3 class="font-bold m-xs">
                    Gönderdiğiniz Mesaj Sayısı
                </h3>
                <h1 class="m-xs">
                    @ViewBag.SendedMessageCount
                </h1>
            </div>
        </div>
    </div>
</div>
