@model IPagedList<Comment>
@{
    string puanRengi = "";
}
@{
    ViewData["Title"] = "Yorumlar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Yorumlar</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-hover table-responsive col-12">
                    <thead>
                        <tr>
                            <th>Kullanıcı</th>
                            <th>Başlık</th>
                            <th>Blog</th>
                            <th>İçerik</th>
                            <th>Puan</th>
                            <th>Tarih</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            {
                                if (item.BlogScore <= 3)
                                { puanRengi = "text-danger"; }
                                else if (item.BlogScore >= 4 && item.BlogScore <= 6)
                                {
                                    puanRengi = "text-warning";
                                }
                                else
                                {
                                    puanRengi = "text-success";
                                }
                            }
                            <tr>
                                <td class="col-2">@item.CommentUserName</td>
                                <td class="col-2">@item.CommentTitle</td>
                                <td class="col-2">@item.Blog.BlogTitle</td>
                                <td class="col-3">
                                    @{
                                        if(item.CommentContent.Length>50)
                                        {
                                            @item.CommentContent.Substring(0,50)
                                        }
                                        else
                                        {
                                            @item.CommentContent
                                        }
                                        }
                                        </td>
                                        <td class="text-navy col-1"> <i class="fa fa-level-up @puanRengi"></i> @item.BlogScore % </td>
                                <td class="col-1">@item.CommentDate.ToShortDateString()</td>
                                <td class="col-1"><a href="/Admin/AdminComment/DeleteComment/@item.CommentID" class="btn btn-outline-danger Sil">Sil</a></td>
                                <td class="col-1"><a href="/Admin/AdminComment/EditComment/@item.CommentID" class="btn btn-outline-success">Düzenle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
new PagedListRenderOptions
{
    LinkToFirstPageFormat="<<İlk",
    LinkToLastPageFormat="Son>>",
    LinkToNextPageFormat="sonraki>",
    LinkToPreviousPageFormat="<önceki",
    ContainerDivClasses=new[] {"navigation"},
    LiElementClasses= new[] {"page-item"},
    PageClasses=new[] {"page-link"},
    ActiveLiElementClass="active"
})
@section ScriptSection{
    <script>
        $('.Sil').click(function (e) {
            e.preventDefault();
            var linkURL = $(this).attr("href");
            Swal.fire({
                title: 'UYARI!',
                text: "Yorumu silmek istediğinize emin misiniz?",
                icon: 'warning',
                showCancelButton: true,
                showCancelButton: true,
                confirmButtonColor: '#5CBA6C',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet',
                cancelButtonText: 'Hayır'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = linkURL;
                    Swal.fire(
                        'Başarılı!',
                        'Seçilen Mesaj Silindi .',
                        'success'
                    )
                }
            })
        });
    </script>
}

