@model Blog
@inject IHttpContextAccessor httpContextaccessor;
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    var thema = "";
    if (httpContextaccessor.HttpContext.Request.Cookies["thema"] != null)
    {
        thema = httpContextaccessor.HttpContext.Request.Cookies["thema"].ToString();
    }
}
@section HeaderSection{
    <meta property="og:title" content="@Model.BlogTitle" />
    @if (thema == "dark")
    {
        <link href="~/coreblogtema/css/blog-read-all-dark.css" rel="stylesheet" />
    }
    <link href="~/css/blog-comment-star.css" rel="stylesheet" />
    <link href="~/css/recaptcha.css" rel="stylesheet" />
    <link href="~/comment-star/dist/style.css" rel="stylesheet" />
}
<!--//banner-->
<section class="banner-bottom">
    <!--/blog-->
    <div class="container">
        <div class="row">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">
                    <div class="b-grid-top">
                        <div class="blog_info_left_grid">
                            <img src="@Model.BlogImage" class="img-fluid" alt="@Model.BlogTitle">
                        </div>
                        <div class="blog-info-middle">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="far fa-calendar-alt"></i> @(((DateTime)Model.BlogCreateDate).ToString("dd.MM.yyyy"))
                                    </a>
                                </li>
                                <li class="mx-2">
                                    <a href="#">
                                        <i class="far fa-star"></i> @ViewBag.Star
                                    </a>
                                </li>
                                <li>
                                    <a href="#comment">
                                        <i class="far fa-comment"></i> @ViewBag.CommentCount
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <h3>
                        <a href="#">@Model.BlogTitle.ToString() </a>
                    </h3>
                    <article>
                        @Html.Raw(Model.BlogContent)
                    </article>
                    <p>
                        Yazar Adı : <b>@ViewBag.WriterName</b>
                    </p>
                    <a href="/Blog/Index" class="btn btn-primary read-m">Blog Listesi</a>
                </div>

                @await Component.InvokeAsync("CommentListByBlog", new { id = ViewBag.i })

                @await Component.InvokeAsync("CommentAdd", new { blogId = ViewBag.i })

            </div>

            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">

                    <h4>Mail Bültenine Abone Olun</h4>
                    @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

                    @await Component.InvokeAsync("CategoryList")


                </div>

                <div class="right-blog-info text-left" style="position: sticky; top: 0;">

                    <br /> <br />

                    @await Component.InvokeAsync("WriterLastBlog", new { writerId = ViewBag.WriterId, blogId=ViewBag.i })

                    @await Component.InvokeAsync("LastBlogs", new { writerId = ViewBag.WriterId, blogId=ViewBag.i })

                </div>


            </aside>
            <!--//right-->
        </div>
    </div>
</section>
@section ScriptSection{
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="~/js/blog-comment-add.js"></script>
    <script>
        blogId = @Model.BlogID;
    </script>
}

