@using EntityLayer.Concrete
@model IPagedList<Blog>
@{
    ViewData["Title"] = "Bloglarım";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<h1>Blogların</h1>
<br />
<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col" class="col-1">ID</th>
            <th scope="col" class="col-2">Blog Başlığı</th>   
            <th scope="col" class="col-3">Blog İçeriği</th>
            <th scope="col" class="col-1">Kategori</th>
            <th scope="col" class="col-1">Durum</th>
            <th scope="col" class="col-1">Oluşturma Tarihi</th>
            <th scope="col" class="col-1">Sil</th>
            <th scope="col" class="col-1">Düzenle</th>
            <th scope="col" class="col-1">Durumunu Değiştir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.BlogID</th>
                <td>@item.BlogTitle</td>
                <td>@item.BlogContent ...</td>
                <td>@item.Category.CategoryName</td>
                <td>
                    @if (item.BlogStatus)
                    {
                        <span class="badge badge-success">Aktif</span>
                    }
                    else
                    {
                        <span class="badge badge-secondary">Pasif</span>
                    }
                </td>
                <td>@item.BlogCreateDate.ToString("dd.MM.yyyy")</td>
                <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger Sil"><i class="far fa-trash-alt">&nbsp;Sil</i></a></td>
                <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Düzenle</a></td>
                <td>

                    @if (item.BlogStatus)
                    {
                        <a href="/Blog/ChangeStatusBlog/@item.BlogID" class="btn btn-gradient-secondary DurumPasif">Pasif Yap</a>
                    }
                    else
                    {
                        <a href="/Blog/ChangeStatusBlog/@item.BlogID" class="btn btn-gradient-success DurumAktif">Aktif Yap</a>
                    }

                </td>
            </tr>
        }
    </tbody>

</table>

<br />

@Html.PagedListPager((IPagedList)Model, page => Url.Action("BlogListByWriter", new { page }),
        new PagedListRenderOptions
        {
        LinkToFirstPageFormat="<<İlk",
        LinkToLastPageFormat="Son>>",
        LinkToNextPageFormat="sonraki>",
        LinkToPreviousPageFormat="<önceki",
        ContainerDivClasses=new[] {"navigation"},
        LiElementClasses= new[] {"page-item"},
        PageClasses=new[] {"page-link"},
        ActiveLiElementClass="active",
        })
<br />

<a href="/Blog/BlogAdd" class="btn btn-primary">Yeni Blog Oluştur</a>

<script>
    $('.Sil').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: "Blog yazısını silmek istediğinize emin misiniz?",
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    'Seçilen Blog Silindi .',
                    'success'
                )
            }
        })
    });

    $('.DurumAktif').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: 'Blog Yazısını Aktif Hale Getirmek İstediğinizden Emin Misiniz ?',
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    onayMesaji,
                    'success'
                )
            }
        })
    });
    $('.DurumPasif').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: 'Blog Yazısını Pasif Hale Getirmek İstediğinizden Emin Misiniz ?',
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    onayMesaji,
                    'success'
                )
            }
        })
    });
</script>
