@model EntityLayer.Concrete.Blog

@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Blog Düzenleme Sayfası</h1>
<form class="form-group" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x=> x.BlogID)
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogTitle, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Blog İçeriği")
    <div class="ibox-content no-padding">
        <textarea asp-for="BlogContent"></textarea>
    </div>
    <br />
    <br />
    @Html.Label("Blog Görseli Linki")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.Label("Yada Blog Görseli Yükle")
    <input type="file" name="blogImage" class="form-control-file">
    <br />
    <br />
    @Html.Label("Blog Küçük Görseli")
    @Html.TextBoxFor(x => x.BlogThumbnailImage, new { @class = "form-control" })
    <br />
    @Html.Label("Yada Blog Küçük Görseli Yükle")
    <input type="file" name="blogThumbnailImage" class="form-control-file">
    <br />
    <br />
    @Html.Label("Blog Kategorisi")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
    <br />
    <br />
    @Html.Label("Blog Yayınlansın Mı ? (İşaretli Evet, İşaretsiz Hayır)")
    @Html.CheckBoxFor(x => x.BlogStatus, new { @class = "form-check" })
    <br />
    <br />
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <button class="btn btn-info">Bloğu Kaydet</button>

</form>