@model IPagedList<BlogandCommentCount>
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<section class="main-content-w3layouts-agileits">
    <div class="container">
        @if (ViewBag.id == null)
        {
            <h3 class="tittle">Bloglar</h3>
        }
        else
        {
            <h3 class="tittle">@Model[0].Blog.Category.CategoryName Blogları</h3>
        }
        @if (ViewBag.Message != null)
        {
            @if (ViewBag.Sonuc)
            {
                <br />
                <h3 class="tittle text-success">@ViewBag.Message</h3>
            }
            else
            {
                <br />
                <h3 class="tittle text-danger">@ViewBag.Message</h3>
            }
        }

        <div class="inner-sec">
            <!--left-->
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 card">
                            <a href="/Blog/BlogReadAll/@item.Blog.BlogID">
                                <img src="@item.Blog.BlogThumbnailImage" class="card-img-top img-fluid" alt="@item.Blog.BlogTitle">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @(((DateTime)item.Blog.BlogCreateDate).ToString("dd.MM.yyyy"))
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#">
                                            <i class="far fa-comment"></i> @item.ContentCount
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#/@item.Blog.BlogID">
                                            <i class="fas fa-eye"></i> @item.Blog.Category.CategoryName
                                        </a>
                                    </li>

                                </ul>
                                <h5 class="card-title">
                                    <a href="/Blog/BlogReadAll/@item.Blog.BlogID">@item.Blog.BlogTitle</a>
                                </h5>
                                <p class="card-text mb-3">
                                    @if (item.Blog.BlogContent != null && item.Blog.BlogContent.Length > 130)
                                    {
                                        @item.Blog.BlogContent.Substring(0, item.Blog.BlogContent.Substring(0, 130).LastIndexOf(" "))
                                    }
                                    else
                                    {
                                        @item.Blog.BlogContent
                                    }
                                    ...
                                </p>
                            </div>
                        </div>
                    }
                </div>
                <!--//left-->
            </div>
        </div>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
        new PagedListRenderOptions
        {
        LinkToFirstPageFormat="<<İlk",
        LinkToLastPageFormat="Son>>",
        LinkToNextPageFormat="sonraki>",
        LinkToPreviousPageFormat="<önceki",
        ContainerDivClasses=new[] {"navigation"},
        LiElementClasses= new[] {"page-item"},
        PageClasses=new[] {"page-link"},
        ActiveLiElementClass="active",
        })
        <br />
        @await Component.InvokeAsync("CategoryList")
    </div>

</section>


