@model IPagedList<Blog>
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    double BlogScore = 0;
    string search = "";
    string id = "";
    if (ViewBag.Search != null)
    {
        search = ViewBag.Search;
    }
    if (ViewBag.Id != null)
    {
        id = ViewBag.Id;
    }
    string blogTitle = "";

}
@section HeaderSection{
    <meta property="og:title" content="Core Blog - Güncel Teknoloji Blogları ve daha fazlası" />
    <meta property="og:url" content="https://blog.buraktemelkaya.com" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Core Blog" />
    <meta property="og:image" content="https://blog.buraktemelkaya.com/writer/assets/images/favicon.ico" />
}

<section class="main-content-w3layouts-agileits center">
    <div class="container">

        @if (ViewBag.Message != null)
        {
            if (ViewBag.IsSuccess)
            {
                <br />
                <h2 class="tittle text-success">@ViewBag.Message</h2>
            }
            else
            {
                <br />
                <h2 class="tittle text-danger">@ViewBag.Message</h2>
            }
        }


        <div class="inner-sec">
            <!--left-->
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        string seoTitle = ReplaceCharactersToEnglishCharacters.ReplaceCharacters(item.BlogTitle);
                        blogTitle = item.BlogTitle;
                        @if (blogTitle.Length > 50)
                        {
                            blogTitle = blogTitle.Substring(0, 50) + "...";
                        }

                        if (item.Comments.Count(x => x.CommentStatus) > 0)
                        {
                            BlogScore = Math.Round(item.Comments.Average(x => x.BlogScore), 1);
                        }
                        <div class="col-lg-4 card">
                            <a href="/Blog/BlogReadAll/@seoTitle/@item.BlogID">
                                <img src="@item.BlogThumbnailImage" class="card-img-top img-fluid" alt="@item.BlogTitle">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @(((DateTime)item.BlogCreateDate).ToString("dd.MM.yyyy"))
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Blog/BlogReadAll/@item.BlogID">
                                            <i class="fa fa-star"></i>@BlogScore
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Blog/BlogReadAll/@item.BlogID">
                                            <i class="fa fa-comment"></i> @item.Comments.Count(x => x.CommentStatus)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Blog/Index?id=@item.CategoryID">
                                            <i class="fa fa-bars"></i> @item.Category.CategoryName
                                        </a>
                                    </li>

                                </ul>

                                <h5 class="card-title">
                                    <a href="/Blog/BlogReadAll/@seoTitle/@item.BlogID">@blogTitle</a>
                                </h5>


                                <p class="card-text mb-3">
                                    @if (item.BlogContent != null && item.BlogContent.Length > 100)
                                    {
                                        @item.BlogContent.Substring(0, 100)
                                    }
                                    else
                                    {
                                        @item.BlogContent
                                    }
                                    ...
                                </p>
                            </div>
                        </div>
                        @if (BlogScore > 0)
                        {
                            BlogScore = 0;
                        }
                    }

                </div>
                <!--//left-->
            </div>
        </div>

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page , search , id } ),
        new PagedListRenderOptions
        {
        DisplayEllipsesWhenNotShowingAllPageNumbers=false,
        DisplayLinkToNextPage=PagedListDisplayMode.Never,
        DisplayLinkToPreviousPage=PagedListDisplayMode.Never,
        ContainerDivClasses=new[] {"navigation"},
        LiElementClasses= new[] {"page-item"},
        PageClasses=new[] {"page-link"},
        ActiveLiElementClass="active",
        MaximumPageNumbersToDisplay=5
        })

        <br />

        @await Component.InvokeAsync("CategoryList")
    </div>

</section>

