@model IPagedList<Blog>
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    float BlogScore = 0;
    string search = "";
    if (ViewBag.Search != null)
    {
        search = ViewBag.Search;
    }
    string blogTitle = "";
}
<section class="main-content-w3layouts-agileits">
    <div class="container">
        @if (ViewBag.id == null)
        {
            <h3 class="tittle">Bloglar</h3>
        }
        else
        {
            <h3 class="tittle">@Model[0].Category.CategoryName Blogları</h3>
        }
        @if (ViewBag.Message != null)
        {
            @if (ViewBag.IsSuccess)
            {
                <br />
                <h3 class="tittle text-success">@ViewBag.Message</h3>
            }
            else
            {
                <br />
                <h3 class="tittle text-danger">@ViewBag.Message</h3>
            }
        }

        <div class="inner-sec">
            <!--left-->
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        blogTitle = item.BlogTitle;
                        @if (blogTitle.Length > 50)
                        {
                            blogTitle = blogTitle.Substring(0, 50) + "...";
                        }

                        if (item.Comments.Count > 0)
                        {
                            int blogScoreSum = 0;
                            foreach (var score in item.Comments)
                            {
                                blogScoreSum += score.BlogScore;
                            }
                            BlogScore = blogScoreSum / item.Comments.Count;
                        }
                        <div class="col-lg-4 card">
                            <a href="/Blog/BlogReadAll/@item.BlogID">
                                <img src="@item.BlogThumbnailImage" class="card-img-top img-fluid" alt="@item.BlogTitle">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @(((DateTime)item.BlogCreateDate).ToString("dd.MM.yyyy"))
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Blog/BlogReadAll/@item.BlogID">
                                            <i class="fa fa-star"></i>@BlogScore
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Blog/BlogReadAll/@item.BlogID">
                                            <i class="fa fa-comment"></i> @item.Comments.Count
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Blog/Index?id=@item.CategoryID">
                                            <i class="fa fa-bars"></i> @item.Category.CategoryName
                                        </a>
                                    </li>

                                </ul>
                                

                                <h5 class="card-title">
                                    <a href="/Blog/BlogReadAll/@item.BlogID">@blogTitle</a>
                                </h5>
                                

                                <p class="card-text mb-3">
                                    @if (item.BlogContent != null && item.BlogContent.Length > 100)
                                    {
                                        @item.BlogContent.Substring(0, 100)
                                    }
                                    else
                                    {
                                        @item.BlogContent
                                    }
                                    ...
                                </p>
                            </div>
                        </div>
                        @if(BlogScore>0){
                            BlogScore = 0;
                        }
                    }

                </div>
                <!--//left-->
            </div>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page , search } ),
        new PagedListRenderOptions
        {
        LinkToFirstPageFormat="<<İlk",
        LinkToLastPageFormat="Son>>",
        LinkToNextPageFormat="sonraki>",
        LinkToPreviousPageFormat="<önceki",
        ContainerDivClasses=new[] {"navigation"},
        LiElementClasses= new[] {"page-item"},
        PageClasses=new[] {"page-link"},
        ActiveLiElementClass="active",
        })
        <br />

        @await Component.InvokeAsync("CategoryList")
    </div>

</section>

