@model IPagedList<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
    string comment = "";
}

<h1>Yorumlarım</h1>

<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col" class="col-1">Blog Başlığı</th>
            <th scope="col" class="col-1">Yorum Yıldızı</th>
            <th scope="col" class="col-2">Yorum Başlığı</th>
            <th scope="col" class="col-3">Yorum İçeriği</th>
            <th scope="col" class="col-3">Yorum Yazan</th>
            <th scope="col" class="col-1">Durum</th>
            <th scope="col" class="col-1">Oluşturma Tarihi</th>
            <th scope="col" class="col-1">Sil</th>
            <th scope="col" class="col-1">Durumunu Değiştir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            comment = item.CommentContent;
            if (comment.Length > 50)
            {
                comment = comment.Substring(0, 50) + "...";
            }
            <tr>
                <td><a href="/Blog/BlogReadAll/@item.BlogID" target="_blank">@item.Blog.BlogTitle</a></td>
                <th scope="row">@item.BlogScore</th>
                <td>@item.CommentTitle</td>
                <td>@comment</td>
                <td>@item.CommentUserName</td>
                <td>
                    @if (item.CommentStatus)
                    {
                        <span class="badge badge-success">Aktif</span>
                    }
                    else
                    {
                        <span class="badge badge-secondary">Pasif</span>
                    }
                </td>
                <td>@item.CommentDate.ToString("dd.MM.yyyy")</td>
                <td><a href="/CommentByWriter/DeleteComment/@item.CommentID" class="btn btn-danger Sil"><i class="far fa-trash-alt">&nbsp;Sil</i></a></td>
                <td>

                    @if (item.CommentStatus)
                    {
                        <a href="/CommentByWriter/ChangeStatusComment/@item.CommentID" class="btn btn-gradient-secondary DurumPasif">Pasif Yap</a>
                    }
                    else
                    {
                        <a href="/CommentByWriter/ChangeStatusComment/@item.CommentID" class="btn btn-gradient-success DurumAktif">Aktif Yap</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
<br />

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
        new PagedListRenderOptions
        {
        LinkToFirstPageFormat="<<İlk",
        LinkToLastPageFormat="Son>>",
        LinkToNextPageFormat="sonraki>",
        LinkToPreviousPageFormat="<önceki",
        ContainerDivClasses=new[] {"navigation"},
        LiElementClasses= new[] {"page-item"},
        PageClasses=new[] {"page-link"},
        ActiveLiElementClass="active",
        })
<br />

<script>
    $('.Sil').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: "Yorumu silmek istediğinize emin misiniz?",
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    'Seçilen Yorum Silindi .',
                    'success'
                )
            }
        })
    });

    $('.DurumAktif').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: 'Yorumu Aktif Hale Getirmek İstediğinizden Emin Misiniz ?',
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    onayMesaji,
                    'success'
                )
            }
        })
    });
    $('.DurumPasif').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: 'Yorumu Pasif Hale Getirmek İstediğinizden Emin Misiniz ?',
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    onayMesaji,
                    'success'
                )
            }
        })
    });
</script>

