@using EntityLayer.Concrete
@model List<Blog>
<div class="tech-btm">
    <h3>Son Postlar</h3>
    @foreach (var item in Model)
    {
        <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
                <a href="/Blog/BlogReadAll/@item.BlogID">
                    <img src="@item.BlogImage" class="card-img-top img-fluid" alt="@item.BlogTitle">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="/Blog/BlogReadAll/@item.BlogID">
                        @if (item.BlogTitle != null && item.BlogTitle.Length > 50)
                        {
                            @item.BlogTitle.Substring(0, item.BlogTitle.Substring(0, 50).LastIndexOf(" "))
                        }
                        else
                        {
                            @item.BlogTitle
                        }
                    </a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> @(((DateTime)item.BlogCreateDate).ToString("dd-MM-yyyy"))
                    </span>
                </div>
            </div>

        </div>
    }

</div>
