@model IPagedList<Log>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    string status = "";
}

<h1>Kategori Listesi</h1>

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Kategori Adı</th>
            <th>Pasif Yap</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Audit == "INFO")
            {
                status = "bg-info";
            }
            else if (item.Audit == "DANGER")
            {
                status = "bg-danger";
            }
            <tr>
                <th scope="row">@item.Id</th>
                <td><a href="/Admin/Category/ChangedStatus/@item.Id" class="btn @status">@item.Audit</a></td>
                <td><article>@Html.Raw(item.Details.Replace("\n","<br/>"))</article> </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Admin/Category/AddCategory" class="btn btn-primary">Yeni Kategori</a>
<br />
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
new X.PagedList.Web.Common.PagedListRenderOptions
{
    LinkToFirstPageFormat="<<İlk",
    LinkToLastPageFormat="Son>>",
    LinkToNextPageFormat="sonraki>",
    LinkToPreviousPageFormat="<önceki",
    ContainerDivClasses=new[] {"navigation"},
    LiElementClasses= new[] {"page-item"},
    PageClasses=new[] {"page-link"},
    ActiveLiElementClass="active"
})

@section ScriptSection{
    <script src="~/js/admin-category.js"></script>
}

