@model IPagedList<Log>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    string status = "";
}

<br />
<h1 class="float-left">Kategori Listesi</h1>
<div class="col-6 text-center float-right">
    <input type="search" class="form-control" id="txt-search" placeholder="Aranacak kelimeyi giriniz" />
    <button class="btn btn-outline-primary full-width" id="btn-search">Ara</button>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Önem Derecesi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Audit == "INFO")
            {
                status = "bg-info";
            }
            else if (item.Audit == "ERROR")
            {
                status = "bg-danger";
            }
            <tr>
                <th colspan="1">@item.Log_Date</th>
                <td colspan="1" class="@status">@item.Audit</td>
            </tr>
            <tr>
                <td colspan="2"><article>@Html.Raw(item.Details.Replace("\n","<br/>"))</article></td>
            </tr>
        }
    </tbody>
</table>
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page , ViewBag.Search }),
new X.PagedList.Web.Common.PagedListRenderOptions
{
    LinkToFirstPageFormat="<<İlk",
    LinkToLastPageFormat="Son>>",
    LinkToNextPageFormat="sonraki>",
    LinkToPreviousPageFormat="<önceki",
    ContainerDivClasses=new[] {"navigation"},
    LiElementClasses= new[] {"page-item"},
    PageClasses=new[] {"page-link"},
    ActiveLiElementClass="active"
})

@section ScriptSection{
    <script src="~/js/admin-log.js"></script>
}

