<div class="row">
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.UserCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-thumbs-up fa-3x"></i>
                </div>
                <div class="col-8 text-right">
                    <h2 class="font-bold">@ViewBag.LikeCommentCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-rss fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.NewsLetterCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-list-ol fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.CategoryCount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-euro fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold"><cache expires-on=DateTime.Now.AddHours(1)>@ViewBag.Euro</cache> </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 yellow-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-dollar fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold"><cache expires-on=DateTime.Now.AddHours(1)>@ViewBag.Dolar</cache> </h2>
                </div>
            </div>
        </div>
    </div>
</div>
