@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yeni Kategori Girişi</h1>

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Blog İçeriği")
    @Html.TextAreaFor(x => x.CategoryDescription, 4, 10, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Blog Durumu (Aktif/Pasif)")
    @Html.CheckBoxFor(x => x.CategoryStatus, new { @class = "form-check" })
    <br />
    <br />
    <button class="btn btn-info">Verileri Kaydet</button>
}

