@model Category
@{
    ViewData["Title"] = "Kategoriyi Düzenle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Kategoriyi Düzenle</h1>

@using (Html.BeginForm("EditCategory", "Category", FormMethod.Post))
{
    @Html.HiddenFor(x=> x.CategoryID)
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Kategori Hakkında")
    @Html.TextAreaFor(x => x.CategoryDescription, 4, 10, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Kategori Durumu (Aktif/Pasif)")
    @Html.CheckBoxFor(x => x.CategoryStatus, new { @class = "form-check" })
    <br />
    <br />
    <button class="btn btn-info">Kategoriyi Düzenle</button>
}

