@model IPagedList<Category>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    string status = "";
    string statusBtn = "";
}

<h1>Kategori Listesi</h1>

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Kategori Adı</th>
            <th>Pasif Yap</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.CategoryStatus)
            {
                status = "Pasif Yap";
                statusBtn = "btn-secondary DurumPasif";
            }
            else
            {
                status = "Aktif Yap";
                statusBtn = "btn-primary DurumAktif";
            }
            <tr>
                <th scope="row">@item.CategoryID</th>
                <td>@item.CategoryName</td>
                <td class="btn btn-success">>Düzenle</td>
                <td class="btn @statusBtn">>@status</td>
                <td id="DeleteBtn" class="btn btn-danger Sil">Sil</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Admin/Category/AddCategory" class="btn btn-primary">Yeni Kategori</a>
<br />
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
new X.PagedList.Web.Common.PagedListRenderOptions
{
    LinkToFirstPageFormat="<<İlk",
    LinkToLastPageFormat="Son>>",
    LinkToNextPageFormat="sonraki>",
    LinkToPreviousPageFormat="<önceki",
    ContainerDivClasses=new[] {"navigation"},
    LiElementClasses= new[] {"page-item"},
    PageClasses=new[] {"page-link"},
    ActiveLiElementClass="active"
})

@section ScriptSection{
    <script src="~/js/admin-category.js"></script>
}


