@model IPagedList<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    string status = "";
    string statusBtn = "";
}

<h1>Kategori Listesi</h1>

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Kategori Adı</th>
            <th>Pasif Yap</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.CategoryStatus)
            {
                status = "Pasif Yap";
                statusBtn = "btn-secondary DurumPasif";
            }
            else
            {
                status = "Aktif Yap";
                statusBtn = "btn-primary DurumAktif";
            }
            <tr>
                <th scope="row">@item.CategoryID</th>
                <td>@item.CategoryName</td>               
                <td><a href="/Admin/Category/ChangedStatus/@item.CategoryID" class="btn @statusBtn">@status</a></td>
                <td><a href="/Admin/Category/EditCategory/@item.CategoryID" class="btn btn-success">Düzenle</a></td>
                <td>
                    <a href="/Admin/Category/CategoryDelete/@item.CategoryID Sil" id="DeleteBtn"
                   onclick="return confirm('Silmek istediğinizden emin misiniz ?');"
                   class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Admin/Category/AddCategory" class="btn btn-primary">Yeni Kategori</a>
<br />
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
new X.PagedList.Web.Common.PagedListRenderOptions
{
    LinkToFirstPageFormat="<<İlk",
    LinkToLastPageFormat="Son>>",
    LinkToNextPageFormat="sonraki>",
    LinkToPreviousPageFormat="<önceki",
    ContainerDivClasses=new[] {"navigation"},
    LiElementClasses= new[] {"page-item"},
    PageClasses=new[] {"page-link"},
    ActiveLiElementClass="active"
})
<script>
    $('.Sil').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: "Kategoriyi silmek istediğinize emin misiniz?",
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    'Seçilen Mesaj Silindi .',
                    'success'
                )
            }
        })
    });
    $('.DurumAktif').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: 'Blog Yazısını Aktif Hale Getirmek İstediğinizden Emin Misiniz ?',
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    onayMesaji,
                    'success'
                )
            }
        })
    });
    $('.DurumPasif').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: 'Blog Yazısını Pasif Hale Getirmek İstediğinizden Emin Misiniz ?',
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    onayMesaji,
                    'success'
                )
            }
        })
    });
</script>

