@using FluentValidation
@using Microsoft.AspNetCore.Http;
@using System.Text.Json
@inject IHttpContextAccessor httpContextaccessor;
@{
    Layout = null;
    var thema = "";
    if (httpContextaccessor.HttpContext.Request.Cookies["thema"] != null)
    {
        thema = httpContextaccessor.HttpContext.Request.Cookies["thema"].ToString();
    }
    bool check = thema == "dark";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@ViewData["Title"] - Core Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="rating" content="general" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Sitemizde güncel teknolojiler ile ilgili bloglar bulabilirsiniz." />
    <meta name="Copyright" content="© Copyright 2021 - 2023 Core Blog. Tüm Hakları Saklıdır." />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:site_name" content="Core Blog" />
    <meta property="og:type" content="website" />
    <meta name="language" content="Turkish" />
    <meta property="keywords" content="Core Blog, Core 5.0 Blog, Teknoloji Blogları, Yazılım Blogları,Tiyatro Blogları,Fİlm & Dizi Blogları, Oyun Blogları, Spor Blogları,Seyehat Blogları, Donanım Blogları" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/coreblogtema/css/bootstrap.min.css" rel="stylesheet" />
    @if (thema == "dark")
    {
        <link href="~/coreblogtema/css/single-dark.min.css" rel="stylesheet" />
        <link href="~/coreblogtema/css/style-dark.min.css" rel="stylesheet" />
        <link href="~/writer/assets/css/SweetAlert2-dark.min.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/coreblogtema/css/single-light.min.css" rel="stylesheet" />
        <link href="~/coreblogtema/css/style-light.min.css" rel="stylesheet" />
        <link href="~/writer/assets/css/SweetAlert2.min.css" rel="stylesheet" />
    }
    <link rel="shortcut icon" href="~/writer/assets/images/favicon.ico" />
    <link href="~/CoreBlogTema/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="~/coreblogtema/css/thema-toggle.css" rel="stylesheet" />

    @RenderSection("HeaderSection",false)
</head>

<body>
    <!--Header-->

    <header>
        <div class="top-bar_sub_w3layouts container-fluid">
            <div class="row">
                <div class="col-md-4 logo text-left">
                    <h1 class="navbar-brand" onclick="location.href='/Blog/Index'">
                        <i class="fab fa-linode"></i> Core Blog
                    </h1>

                </div>
                @await Html.PartialAsync("Partial2")
                <div class="col-md-4 log-icons text-right">

                    <ul class="social_list1 mt-3">

                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100011652821384" target="_blank" class="facebook1 mx-2" name="facebook-link">
                                <i class="fab fa-facebook-f"></i>

                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/buraktemelkaya/" target="_blank" class="twitter2 mx-2" name="twitter-link">
                                <i class="fab fa-linkedin"></i>

                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/BurakTemelkaya" target="_blank" class="github mx-2" name="github-link">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC250K8wIDdyJPI9o2L2hy8w" target="_blank" class="pin mx-2" name="youtube-link">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div style="position: sticky; top: 0; z-index:999;">
        @await Html.PartialAsync("Partial1")
    </div>

    @RenderBody()

    @await Html.PartialAsync("Partial3")
    <script src="~/admin/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/cookie.js"></script>
    <script src="~/CoreBlogTema/js/move-top.js"></script>
    <script src="~/CoreBlogTema/js/easing.js"></script>
    <script>
        jQuery(document).ready(function () {
            var defaults = {
                containerID: 'toTop',
                containerHoverID: 'toTopHover',
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>
    <script src="~/admin/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/newsletter-subscribe.js"></script>
    <script src="~/js/blog-search.js"></script>

    @if (thema == "dark")
    {
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', (event) => {
                const recaptcha = document.querySelector('.g-recaptcha');
                if (recaptcha != null) {
                    recaptcha.setAttribute("data-theme", "dark");
                }
            });
        </script>
        <script src="~/writer/assets/js/SweetAlert2-dark.js"></script>
    }
    else
    {
        <script src="~/writer/assets/js/SweetAlert2.js"></script>
    }

    @{
        string json = httpContextaccessor.HttpContext.Session.GetString("ValidationExceptions") == string.Empty ? "[]" 
        : httpContextaccessor.HttpContext.Session.GetString("ValidationExceptions");

        <script>
            let validationErrors = @Html.Raw(json);

            if (validationErrors && validationErrors.length > 0) {
                // Eğer validationErrors bir dizi değilse, bir diziye dönüştür
                if (!Array.isArray(validationErrors)) {
                    validationErrors = JSON.parse(validationErrors);
                }

                let errorMessage = "<ul>";

                validationErrors.forEach(function (exception) {
                    errorMessage += "<li>" + exception + "</li>";
                });

                errorMessage += "</ul>";

                Swal.fire({
                    title: "Hatalar",
                    html: errorMessage,
                    icon: "error",
                });
            }
        
        </script>

        {
            httpContextaccessor.HttpContext.Session.SetString("ValidationExceptions", "");
        }
    }


    @RenderSection("ScriptSection",false)
    
</body>
</html>
