@model UserDto
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>
            <br />
            <form class="form-group" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    @Html.HiddenFor(x => x.Id)
                    <label for="exampleInputName1">Adınız</label>
                    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control", @placeholder = "Adınız" })
                    @Html.ValidationMessageFor(x => x.NameSurname, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.HiddenFor(x => x.Id)
                    <label for="exampleInputName1">Kullanıcı Adınız</label>
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Kullanıcı Adınız" })
                    @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail adresi</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Mail" })
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Mevcut Parola (Sadece parola değiştirmek için gerekli.)</label>
                    @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control", @placeholder = "Mevcut Şifrenizi Giriniz" })
                    @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword5">Yeni Parolanızı Giriniz</label>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Yeni Şifrenizi Giriniz" })
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword5">Yeni Parolanızı Tekrar Giriniz</label>
                    @Html.PasswordFor(x => x.PasswordAgain, new { @class = "form-control", @placeholder = "Yeni Şifrenizi Giriniz" })
                    @Html.ValidationMessageFor(x => x.PasswordAgain, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Yazar Görsel</label>
                    <input type="file" asp-for="ProfileImageFile" class="form-control-file" placeholder="Profil Resim Linki">
                    <br />
                    <label>Yada Link Yapıştır</label>
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", @placeholder = "ImageUrl" })
                    @Html.ValidationMessageFor(x => x.ImageUrl, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="exampleInputCity1">Şehir</label>
                    @Html.DropDownListFor(x => x.City, (List<SelectListItem>)ViewBag.Cities, new { @class = "form-control dropdown" })
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Hakkında Yazmak İstediklerin</label>
                    @Html.TextAreaFor(x => x.About, 10, 3, new { @class = "form-control", @placeholder = "Hakkımda" })
                    @Html.ValidationMessageFor(x => x.About, "", new { @class = "text-danger" })
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <button class="btn btn-light">İptal</button>
            </form>
        </div>
    </div>
</div>

