@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Message Detay Sayfası</h1>
@Html.HiddenFor(x=> x.MessageID)
@Html.Label("Mesaj Başlığı")
@Html.TextBoxFor(x => x.Subject, new { @class = "form-control", disabled = "disabled" })
<br />
@Html.Label("Mesaj İçeriği")
@Html.TextAreaFor(x => x.Details, 20, 3, new { @class = "form-control", disabled = "disabled" })
<br />
@Html.Label("Gönderen")
@Html.TextBoxFor(x => x.SenderUser.UserName, new { @class = "form-control", disabled = "disabled" })
<br />
<button class="btn btn-gradient-primary" id="MarkUsUnread">Okunmadı olarak işaretle</button>
<br />
<button href="/Message/Inbox" class="btn btn-success">Mesajlara Dön</button>