@model Message
@{
    ViewData["Title"] = "Mesaj Detayı";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Mesaj Detayı</h1>
@Html.HiddenFor(x=> x.MessageID)
@Html.Label("Mesaj Başlığı")
@Html.TextBoxFor(x => x.Subject, new { @class = "form-control", disabled = "disabled" })
<br />
@Html.Label("Mesaj İçeriği")
<div class="bg-gradient-secondary aligncenter">
    <div class="ml-4 mb-2">
        <br />
        @Html.Raw(Model.Details)
        <br />
    </div>
</div>
<br />
@if (Model.SenderUser != null)
{
    @Html.Label("Gönderen Kullanıcı Adı")
    @Html.TextBoxFor(x => x.SenderUser.UserName, new { @class = "form-control", disabled = "disabled" })
}
else
{
    @Html.Label("Alıcı Kullanıcı Adı")
    @Html.TextBoxFor(x => x.ReceiverUser.UserName, new { @class = "form-control", disabled = "disabled" })
}

<br />
<button class="btn btn-gradient-primary" id="MarkUsUnread">Okunmadı olarak işaretle</button>
<br />


<a href="/Message/Inbox" class="btn btn-success">Mesajlara Dön</a>

@section ScriptSection{
    <script>
        $(document).ready(function () {
            const id = @Model.MessageID;
            $("#MarkUsUnread").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Message/MarkUnreadMessage',
                    data: { id },
                    success: function () {
                        window.location.replace("/Message/Inbox");
                    }
                });
            });
        });
    </script>
}