@model List<MessageReceiverUserDto>
@{
    ViewData["Title"] = "Gönderilmiş Mesajlar";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<h1>Gönderilmiş Mesajlar</h1>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th scope="row" class="col-1">#</th>
            <th class="col-2">Konu</th>
            <th class="col-2">Alıcı</th>
            <th class="col-3">İçerik</th>
            <th class="col-1">Tarih</th>
            <th class="col-1">Mesajı Aç</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.MessageID</td>
                <td>@item.Subject</td>
                <td>@item.ReceiverNameSurname</td>
                <td>@item.Details...</td>
                <td>@item.MessageDate.ToString("dd.MM.yyyy")</td>
                <td><a href="/Message/MessageDetails/@item.MessageID" class="btn btn-primary">Mesajı Aç</a></td>
            </tr>
        }

    </tbody>
</table>
<a href="/Message/SendMessage/" class="btn btn-primary">Yeni Mesaj Oluştur</a>

