@model Message
@{
    ViewData["Title"] = "Read";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="mail-box-header">
    <div class="float-right tooltip-demo">
        <a href="mail_compose.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Yanıtla"><i class="fa fa-reply"></i> Yanıtla</a>
        <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Yazdır"><i class="fa fa-print"></i> </a>
        <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Çöp Kutusuna Taşı"><i class="fa fa-trash-o"></i> </a>
    </div>
    @if (Model.ReceiverUser == null)
    {
        <h2>
            Gelen Mesaj
        </h2>
    }
    else
    {
        <h2>
            Giden Mesaj
        </h2>
    }
    <div class="mail-tools tooltip-demo m-t-md">
        <h3>
            <span class="font-normal">Başlık: </span>@Model.Subject
        </h3>
        <h5>
            <span class="float-right font-normal">@Model.MessageDate</span>
            @if (Model.ReceiverUser != null)
            {
                <span class="font-normal">From: @Model.ReceiverUser.Email </span>
            }
            else
            {
                <span class="font-normal">From: @Model.SenderUser.Email </span>               
            }

        </h5>
    </div>
</div>
<div class="mail-box">
    <div class="mail-body">
        <p>
            @Model.Details
        </p>
    </div>
    <div class="mail-body text-right tooltip-demo">
        <a class="btn btn-sm btn-white" href="#"><i class="fa fa-reply"></i> Yanıtla</a>
        <a class="btn btn-sm btn-white" href="#"><i class="fa fa-arrow-right"></i> Sonraki</a>
        <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Yazdır" class="btn btn-sm btn-white"><i class="fa fa-print"></i> Yazdır</button>
        <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Çöp kutusuna taşı" class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i> Kaldır</button>
    </div>
    <div class="clearfix"></div>
</div>

