@model Message
@{
    ViewData["Title"] = "Read";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="mail-box-header">
    <div class="float-right tooltip-demo">
        <a href="mail_compose.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Yanıtla"><i class="fa fa-reply"></i> Yanıtla</a>
        <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Yazdır"><i class="fa fa-print"></i> </a>
        @if (Model.ReceiverUser == null)
        {
            <a href="/Admin/AdminMessage/Delete/@Model.MessageID" class="btn btn-white btn-sm Sil" data-toggle="tooltip" data-placement="top" title="Sil"><i class="fa fa-trash-o"></i> </a>
        }
    </div>
    @if (Model.ReceiverUser == null)
    {
        <h2>
            Gelen Mesaj
        </h2>
    }
    else
    {
        <h2>
            Giden Mesaj
        </h2>
    }
    <div class="mail-tools tooltip-demo m-t-md">
        <h3>
            <span class="font-normal">Başlık: </span>@Model.Subject
        </h3>
        <h5>
            <span class="float-right font-normal">@Model.MessageDate</span>
            @if (Model.ReceiverUser != null)
            {
                <span class="font-normal">Alıcı: @Model.ReceiverUser.Email </span>
            }
            else
            {
                <span class="font-normal">Gönderen: @Model.SenderUser.Email </span>
            }

        </h5>
    </div>
</div>
<div class="mail-box">
    <div class="mail-body">
        @Html.Raw(Model.Details)
    </div>
    <div class="mail-body text-right tooltip-demo">
        @if (Model.ReceiverUser != null)
        {
            <a class="btn btn-sm btn-white" href="/Admin/AdminMessage/SendMessage?ReceiverUser=@Model.ReceiverUser.UserName"><i class="fa fa-reply"></i> Yanıtla</a>
        }
        else
        {
            <a class="btn btn-sm btn-white" href="/Admin/AdminMessage/SendMessage?ReceiverUser=@Model.SenderUser.UserName"><i class="fa fa-reply"></i> Yanıtla</a>
        }
        <a class="btn btn-sm btn-white" href="#"><i class="fa fa-arrow-right"></i> Sonraki</a>
        <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Yazdır" class="btn btn-sm btn-white"><i class="fa fa-print"></i> Yazdır</button>
        @if (Model.ReceiverUser == null)
        {
            <a title="Sil" href="/Admin/AdminMessage/Delete/@Model.MessageID" data-placement="top" data-toggle="tooltip" data-original-title="Sil" class="btn btn-sm btn-white Sil"><i class="fa fa-trash-o"></i> Sil</a>
        }
    </div>
    <div class="clearfix"></div>
</div>
<script>
    $('.Sil').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: "Mesajı silmek istediğinize emin misiniz?",
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    'Seçilen Mesaj Silindi .',
                    'success'
                )
            }
        })
    });
</script>

