@model IPagedList<Blog>
@{
    ViewData["Title"] = "Bloglar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    string status = "";
    string statusClass = "";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Bloglar</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    @if (ViewBag.UserName != null)
        {
        <h2><b>@ViewBag.UserName</b> Kullanıcısına Ait Bloglar</h2>
        }
    <div class="row">       
        @foreach (var item in Model)
        {     
            @if(item.BlogStatus)
            {
                status = "Pasif Yap";
                statusClass = "btn-secondary DurumPasif";
            }
            else
            {
                status = "Aktif Yap";
                statusClass = "btn-success DurumAktif";
            }
            <a href="/Blog/BlogReadAll/@item.BlogID" target="_blank">
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="product-imitation">
                                <img src="@item.BlogThumbnailImage" class="col-sm-12">
                            </div>
                            <div class="product-desc text-center">
                                <span class="product-price">
                                    @item.BlogCreateDate.ToShortDateString()
                                </span>
                                <small class="text-muted">@item.Category.CategoryName</small>
                                <a href="/Blog/BlogReadAll/@item.BlogID" target="_blank" class="product-name"> @item.BlogTitle</a>
                                <a href="/Admin/AdminBlog/BlogUpdate/@item.BlogID" class="btn btn-primary mr-2">Güncelle</a>
                                <a href="/Admin/AdminBlog/DeleteBlog/@item.BlogID" class="btn btn-danger mr-2 Sil"> Sil</a>
                                <a href="/Admin/AdminBlog/ChangeStatusBlog/@item.BlogID" class="btn @statusClass">@status</a>                      
                                <div class="small m-t-xs">
                                    @item.BlogContent
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
new PagedListRenderOptions
{
    LinkToFirstPageFormat="<<İlk",
    LinkToLastPageFormat="Son>>",
    LinkToNextPageFormat="sonraki>",
    LinkToPreviousPageFormat="<önceki",
    ContainerDivClasses=new[] {"navigation"},
    LiElementClasses= new[] {"page-item"},
    PageClasses=new[] {"page-link"},
    ActiveLiElementClass="active"
})

<a href="/Admin/AdminBlog/BlogAdd" class="btn btn-primary">Yeni Blog Ekle</a>
<script src="/admin/js/plugins/pace/pace.min.js"></script>
<script>
    $('.Sil').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: "Blog yazısını silmek istediğinize emin misiniz?",
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    'Seçilen Blog Silindi .',
                    'success'
                )
            }
        })
    });

    $('.DurumAktif').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: 'Blog Yazısını Aktif Hale Getirmek İstediğinizden Emin Misiniz ?',
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    onayMesaji,
                    'success'
                )
            }
        })
    });
    $('.DurumPasif').click(function (e) {
        e.preventDefault();
        var linkURL = $(this).attr("href");
        Swal.fire({
            title: 'UYARI!',
            text: 'Blog Yazısını Pasif Hale Getirmek İstediğinizden Emin Misiniz ?',
            icon: 'warning',
            showCancelButton: true,
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = linkURL;
                Swal.fire(
                    'Başarılı!',
                    onayMesaji,
                    'success'
                )
            }
        })
    });
</script>

