@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>E-commerce grid</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>E-commerce</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Products grid</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                            <img src="@item.BlogImage" class="col-sm-12">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                @item.BlogCreateDate.ToShortDateString()
                            </span>
                            <small class="text-muted">@item.Category.CategoryName</small>
                            <a href="#" class="product-name"> @item.BlogTitle</a>
                            <div class="small m-t-xs">
                                @item.BlogContent
                            </div>
                            <div class="m-t text-righ">
                                <a href="/Blog/BlogReadAll/@item.BlogID" target="_blank" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
