@model IPagedList<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Bloglar</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    @if (ViewBag.UserName != null)
        {
        <h2><b>@ViewBag.UserName</b> Kullanıcısına Ait Bloglar</h2>
        }
    <div class="row">       
        @foreach (var item in Model)
        {           
            <a href="/Admin/AdminBlog/BlogUpdate/@item.BlogID">
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="product-imitation">
                                <img src="@item.BlogImage" class="col-sm-12">
                            </div>
                            <div class="product-desc">
                                <span class="product-price">
                                    @item.BlogCreateDate.ToShortDateString()
                                </span>
                                <small class="text-muted">@item.Category.CategoryName</small>
                                <a href="#" class="product-name"> @item.BlogTitle</a>
                                <div class="small m-t-xs">
                                    @item.BlogContent
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),
new PagedListRenderOptions
{
    LinkToFirstPageFormat="<<İlk",
    LinkToLastPageFormat="Son>>",
    LinkToNextPageFormat="sonraki>",
    LinkToPreviousPageFormat="<önceki",
    ContainerDivClasses=new[] {"navigation"},
    LiElementClasses= new[] {"page-item"},
    PageClasses=new[] {"page-link"},
    ActiveLiElementClass="active"
})
<script src="/admin/js/plugins/pace/pace.min.js"></script>

