@model List<CategoryandBlogPercent>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kategorilerin Durumu</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Kategori Adı </th>
                                <th> Durum </th>
                                <th> Tüm Bloglara Oranı </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.CategoryID </td>
                                    <td> @item.CategoryName </td>
                                    <td>
                                        @if (item.CategoryStatus)
                                        {
                                            <p class="badge badge-primary">Aktif</p>
                                        }
                                        else
                                        {
                                            <p class="badge badge-secondary">Pasif</p>
                                        }
                                    </td>
                                    <td>
                                        <b class="text-black"> % @item.BlogPercent</b>
                                        <div class="progress mt-sm-2">
                                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: @item.BlogPercent%" aria-valuenow="@item.BlogPercent" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>